.lds-ring {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
}

.lds-ring.hide {
  display: none;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
  border-color: var(--kyc-normal-blue);
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img.nft-image {
  width: 86px;
  height: 86px;
  padding: 4px;
}

#nft-images > input[type="radio"] {
  display: none;
}

#nft-images > label > img {
  width: 86px;
  height: 86px;
  padding: 4px;
}

#nft-images > label > img:hover {
  opacity: 0.6;
  cursor: pointer;
}

#nft-images > label > img:active {
  opacity: 0.4;
  cursor: pointer;
}

#nft-images > input[type="radio"]:checked + label > img {
  padding: 2px;
  border: 2px solid rgb(136, 0, 0);
}
